@import url("./reset.css");

/* @define-color primary rgba(109,180,116, 0.6); */

@define-color primary rgba(115, 134, 120, 1);
@define-color primary_t rgba(0, 0, 0, 1);
/* @define-color background rgba(46, 46, 46, 0.8); */
@define-color background rgba(46, 46, 46, 1);
/* @define-color background rgba(6, 0, 13, 0.7); */
@define-color text_color rgba(207, 207, 196, 1);
/* @define-color text_color rgba(115, 134, 120, 1); */
/* Also check this block in manifest.json for matched search term colors
"matched_text_hl_colors": {
    "when_selected": "#6db474",
    "when_not_selected": "#6db474"
} */

.prefs-btn {
    background-color: @background;
    border-radius: 0 5px 5px 0;
    padding: 10px 4px;
    margin-right: -15px;
    border: @primary 2px;
    border-style: solid solid solid none;
}

.input {
    background-color: @background;
    border-radius: 5px 0 0 5px;
    margin: 0 -20px;
    padding: 5px 0 5px 10px;
    border: @primary 2px;
    border-style: solid none solid solid;
    font-size: 115%;
    color: #cfcfc4;
}

.result-box {
    border: 2px @primary solid;
    border-radius: 6px;
    background-color: @background;
    padding-bottom: 6px;
}

.item-container {
    margin: 6px -8px 0 -8px;
    padding: 10px 15px;
    border-bottom: 2px transparent solid;
}

.item-name {
    font-size: 105%;
}

.item-text {
    color: @text_color;
}

.item-shortcut {
    margin-right: -5px;
}

.selected .item-container {
	background-color: rgba(29, 28, 26, 0.9);
	/* background-color: rgba(29, 28, 26, 0.25); */
    border-radius: 5px;
    /* border-bottom: 2px @primary_t solid; */
}

.result-box {
    margin-top: -3px;
}

.item-descr {
    font-size: 80%;
}


/* For highlighting text in the input */
.input *:selected,
.input *:focus,
*:selected:focus {
    background: transparent;
    color: #a4c195;
}
