[Unit]
Description=Auto-rename hyprland workspaces
After=graphical-session.target

[Service]
Type=simple
Environment="XDG_RUNTIME_DIR=/run/user/%U"
Environment="DISPLAY=:0"  # or :1
ExecStart=%h/.local/bin/hypr-configs/hypr-name-auto.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
