[Unit]
Description=Toggle on‑screen keyboard when tablet‑mode changes
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/device-specific/DELL-Inspiron-13-5378/toggle-onscreen-keyboard.sh
Restart=on-failure

[Install]
WantedBy=graphical-session.target
