[Desktop Entry]
Name[nl]=Packet
Name[de]=Packet
Name[et]=Packet
Name[pt_BR]=Packet
Name[it]=Packet
Name[tr]=Packet
Name[ko]=Packet
Name[es_ES]=Packet
Name[fr]=Packet
Name[fa_IR]=Packet
Name[ca]=Packet
Name[pl]=Udostępnianie
Name[ru]=Packet
Name[cs]=Packet
Name[oc]=Packet
Name[az]=Packet
Name[ar]=باكت
Name[bn]=Packet
Name[ro]=Packet
Name[da]=Packet
Name[uk]=Packet
Name[pt]=Packet
Name[kab]=Packet
Name[zh_Hans]=Packet
Name[id]=Packet
Name[fi]=Packet
; Name=Packet
Name=Share with Phone
Comment[nl]=Deel eenvoudig bestanden
Comment[de]=Dateien einfach teilen
Comment[et]=Failide mugav ja lihtne jagamine
Comment[pt_BR]=Compartilhe arquivos facilmente
Comment[it]=Condividi facilmente i file
Comment[tr]=Kolayca dosya paylaşın
Comment[ko]=파일을 쉽게 공유하세요
Comment[es_ES]=Compartir archivos fácilmente
Comment[fr]=Partagez des fichiers facilement
Comment[fa_IR]=اشتراک گذاری آسان فایل ها
Comment[ca]=Comparteix fitxers fàcilment
Comment[pl]=Udostępniaj pliki z łatwością
Comment[ru]=Легко делитесь файлами
Comment[cs]=Jednodušše sdílejte soubory
Comment[oc]=Partejar de fichièrs facilament
Comment[az]=Faylları asanlıqla paylaşın
Comment[ar]=شارك الملفات بسهولة
Comment[bn]=সহজে ফাইল শেয়ার করুন
Comment[uk]=Легко обмінюйтеся файлами
Comment[pt]=Partilhe ficheiros facilmente
Comment[kab]=Bḍu isefka s tefses
Comment[zh_Hans]=轻松共享文件
Comment[fi]=Jaa tiedostoja helposti
; Comment=Share files easily
Comment=using Packet
Type=Application
Exec=packet
Terminal=false
Categories=GNOME;GTK;Utility;Network;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[nl]=Gnome;GTK;Nearby;Share;Delen;Snel;Dichtbij;
Keywords[de]=Gnome;GTK;Quick;Nearby;Share;Teilen;schnell;
Keywords[et]=Gnome;GTK;Quick;Nearby;Share;jaga;jagamine;failid;võrk;lähedal;läheduses;
Keywords[pt_BR]=Gnome;GTK;Quick;Nearby;Share;
Keywords[it]=Gnome;GTK;Quick;Nearby;Share;
Keywords[tr]=Gnome;GTK;Quick;Yakındakilerle;Paylaş;Share;
Keywords[ko]=Gnome;그놈;GTK;Quick;퀵;Nearby;니어바이;Share;쉐어;
Keywords[es_ES]=Gnome;GTK;Quick;Nearby;Share;Rápido;Cerca;Compartir;
Keywords[fr]=Gnome;GTK;Quick;Nearby;Share;Partage;rapide;
Keywords[fa_IR]=گنوم؛ GTK؛ سریع؛ نزدیک؛ اشتراک‌گذاری؛
Keywords[pl]=GNOME;GTK;Quick;Nearby;Share;
Keywords[ru]=Gnome;GTK;Quick;Nearby;Share;Быстрая;Отправка;Обмен;Файлами;
Keywords[cs]=Gnome;GTK;Quick;Nearby;Share;Sdílení;
Keywords[oc]=Gnome;GTK;Quick;Share;Partatge;Partiment;Compartiment;Partejar;Proximitat;
Keywords[az]=Gnome;GTK;Quick;Nearby;Share;fayl;göndər;paylaş;yüklə;blutuz;
Keywords[ar]=جنوم;جتك;مشاركة;قريب;سريع;Packet;
Keywords[bn]=Gnome;GTK;Quick;Nearby;Share;
Keywords[uk]=Gnome;GTK;Quick;Nearby;Share;Швидка;Відправка;Обмін;Файлами;
Keywords[pt]=Gnome;GTK;Quick;Nearby;Share;
Keywords[kab]=Gnome;GTK;Uzrib;Uqrib;Bḍu;
Keywords[zh_Hans]=Gnome;GTK;快速;附近;共享;
Keywords[fi]=Gnome;GTK;Quick;Nearby;Share;jako;jaa;
Keywords=Gnome;GTK;Quick;Nearby;Share;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=io.github.nozwock.Packet
StartupNotify=true
DBusActivatable=true
