[Desktop Entry]
Name=VPN
Exec=protonvpn-app
Terminal=false
Type=Application
Icon=proton-vpn-logo
StartupWMClass=protonvpn-app
Comment=using Proton VPN
Categories=Network;
