[Desktop Entry]
Name=Messaging
Comment=using WhatsApp
Exec=/usr/bin/google-chrome-stable --app=https://web.whatsapp.com
Icon=chrome-web.whatsapp.com__-Default
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
