[Desktop Entry]
; Name=YouTube Music
Name=Music
GenericName=YouTube Music/ YT Music/ ytm
Comment=Listen to Music using YouTube Music
Exec=firefox -P apps --new-window music.youtube.com
; Exec=google-chrome-stable --app=https://music.youtube.com
Icon=chrome-music.youtube.com__-Default
Terminal=false
Type=Application
Categories=AudioVideo;Music;
StartupWMClass=YTMusic
