[Desktop Entry]
Name=YouTube Music
Comment=Launch YouTube Music
Exec=google-chrome-stable --user-data-dir="\\$HOME/.config/ytmusic-profile" --profile-directory=Default --app=https://music.youtube.com --class=YTMusic --no-first-run --new-window --enable-features=UseOzonePlatform --ozone-platform=wayland
Icon=google-chrome
Terminal=false
Type=Application
Categories=AudioVideo;Music;
StartupWMClass=YTMusic
